<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>
    Update data
</h1>
<form method="post" th:object="${usr}">
    <input type="text" placeholder="name" name="name" th:value="*{getName()}">
    <br><br>
    <input type="text" placeholder="email" name="email" th:value="*{getEmail()}">
    <br><br>
    <input type="text" placeholder="age" name="age" th:value="*{getAge()}">
    <br><br>
    <button type="submit">
        Auth
    </button>
</form>
</body>
</html>